#single-menu-page {
    padding: 100px;
}
#single-menu-page .head-title {
    margin-bottom: 3rem;
}
#single-menu-page .head-title h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #cb0006;
    text-transform: uppercase;
}
#single-menu-page .head-title .b {
    border: 0.5px dashed #333;
    margin: 5px 0;
}
#single-menu-page .head-title .r {
    border: 0.5px solid #cb0006;
}
#single-menu-page .item {
    margin-bottom: 2rem;
}
#single-menu-page .item .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#single-menu-page .item .title h4, #single-menu-page .item .title .price {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#single-menu-page .item .descrpition {
    line-height: 1.5;
    color: #333;
    font-weight: 300;
}
#single-menu-page .item .d {
    border: 1px solid grey;
}
@media (min-width: 0px) and (max-width: 767px) {
    #single-menu-page {
        padding: 20px;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    #single-menu-page {
        padding: 20px;
   }
}
