.welcome-jumbo {
    transform: translate3d(350px, 0, 0);
    max-width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f00;
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%);
    overflow: hidden;
    padding: 100px;
}
.welcome-jumbo .status {
    display: inline-block;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    background: black;
    border-radius: 5px;
    align-self: flex-start;
    margin-bottom: 20px;
}
.welcome-jumbo h1 {
    font-size: 4rem;
    font-weight: 900;
    align-self: flex-start;
    color: white;
    margin-bottom: 100px;
}
.welcome-jumbo .burger-fries {
    width: 100%;
    position: relative;
}
